:root {
    --color-dark: #225cb0;
    --color-ocean: #416dea;
    --color-grass: #3dd28d;
    --color-snow: #FFFFFF;
    --color-salmon: #F32C52;
    --color-sun: #feee7d;
    --color-alge: #7999a9;
    --color-flower: #353866;
    --color-smoke: rgba(25, 174, 145, 0.73);
    --borderRadius: 36px;
    --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
    color: black;
}

.board_list_warp {
    padding: 50px;
}

.board_list_head,
.board_list_body .item {
    font-size: 0;

}

.board_list_head {
    border-top: 2px solid green;
    border-bottom: 1px solid #ccc;
}

.board_list_body .item {
    border-bottom: 1px solid #ccc;
}

.board_list_body .item .c3 > a{

    color: #1a1e21;
    font-size: 17px;
    font-weight: bolder;
}


.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    background: none;
    text-align: center;
    font-size: 17px;
    padding: 5px;


}

.board_list_head > div {
    font-weight: 600;
}


.board_list .c1 {
    width: 15%;

}

.board_list .c2 {
    width: 15%;
}

.board_list_body div.c1 {
    text-align: center;
}

.board_list_body div.c1 a:hover {
    text-decoration: underline;

}

.board_list .c3 {
    width: 10%;
}

.board_list .c4 {
    width: 30%;
}

.board_list .c5 {
    width: 30%;
}

.backboard{
    background-color: #EEEFF1;
    border-radius: 5px;
    width: 80%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.backboard-header{
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.00);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}

.pageInfo{
    list-style : none;
    display: inline-block;

}
.pageInfo li{
    float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
}

.pageInfo_btn{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    border-radius: var(--borderRadius);
    color: var(--color-snow);
    background: var(--color-dark);
    font-weight: 500;



}

.pageInfo_btn:hover {
    transition: all 150ms linear;
    opacity: 0.85;
    box-shadow: 2px 5px 10px var(--color-smoke);
}
.pageInfo_btn:active {
    transition: all 150ms linear;
    opacity: 0.75;
}
.pageInfo_btn:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
}

.pageInfo_btn > a:link {color:white; text-decoration: none;}
.pageInfo_btn > a:visited {color:white; text-decoration: none;}
.active{background-color: #cdd5ec;}
.active > a{color: #000000;}





.submit-btn {
    font-size: 14px;
    background-color: #1BBC9B;
    border-radius: 5px;
    width: auto;
    font-weight: bold;
    padding: 10px;
}

.submit-btn:hover{
    color: #fff;
    background-color: #1BBC9B;
    border-color: #1BBC9B;
}
.submit-btn:focus + .submit-btn, .submit-btn:focus {
    color: #fff;
    background-color: #1BBC9B;
    border-color: #1BBC9B;
    box-shadow: 0 0 0 0.25rem rgb(19, 126, 104);
}