<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.ICalendarMapper">

	<select id="getCalendar" resultType="CalendarDTO">
		SELECT *
		FROM CALENDAR
		WHERE USER_ID = #{user_id}

	</select>

	<insert id="insertCalendar" parameterType="CalendarDTO">
		insert into CALENDAR (
			USER_ID, TITLE,
			MEMO, START, END

		) values (
					 #{user_id},#{title},#{memo},#{start},#{end}
				 )

	</insert>

	<update id="updateCalendar" parameterType="CalendarDTO">
		UPDATE CALENDAR
		SET
		    TITLE = #{title}, MEMO = #{memo}, START = #{start}, END = #{end}
		WHERE CALENDAR_NO = #{calendar_No} AND USER_ID = #{user_id}


	</update>

	<delete id="deleteCalendar" parameterType="CalendarDTO">
		DELETE  FROM CALENDAR
		WHERE TITLE = #{title} AND MEMO = #{memo} AND USER_ID = #{user_id}

	</delete>

</mapper>